<div class="form_container text-center">

    <div class="row">

        <div class="col-md-4">

            <div class="wrapper container">

                <div class="registration_form">

                    <form>

                        <div class="form_item form-group">

                            <label for="email">¿Cuál es tu sueño?</label>

                            <select #dream disabled>

                                <option value="0" selected disabled>Selecciona una opción</option>

                                <option value="Capital de trabajo">Capital de trabajo</option>

                                <option value="Unificar deudas">Unificar deudas</option>

                                <option value="Viajar">Viajar</option>

                                <option value="Comprar vehículo">Comprar vehículo</option>

                                <option value="Comprar vivienda">Comprar vivienda</option>

                                <option value="Comprar bienes raíces">Comprar bienes raíces</option>

                                <option value="Tratamiento médico">Tratamiento médico</option>

                                <option value="Estudiar">Estudiar</option>

                                <option value="Iniciar mi negocio">Iniciar mi negocio</option>

                                <option value="Otro">Otro</option>

                            </select>

                        </div>

                        <div class="form_item form-group">

                            <textarea #description rows="4" placeholder="Describe tu sueño" readonly></textarea>

                        </div>

                        <div class="form_item form-group">

                            <label>¿Cuánto necesitas?</label>

                            <input #needings type="text" class="form-control" name="password" myCurrencyFormatter
                                readonly>

                        </div>

                        <div class="form_item form-group">

                            <label>¿Cuánto puedes pagar mensualmente?</label>

                            <input #payment type="text" class="form-control" name="password" myCurrencyFormatter
                                readonly>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <div class="col-md-4 lines">

            <div class="wrapper container">

                <div class="registration_form">

                    <form>

                        <div class="form_item form-group">

                            <label for="email">Tiempo (meses)</label>

                            <input #months type="text" class="form-control" name="password" readonly>

                        </div>

                        <div class="form_item form-group">

                            <label>Tasa de interés</label>

                            <input #rate_input type="text" class="form-control" name="email" readonly>

                            <p class="start">*La tasa puede variar dependiendo de cada perfil de cliente.</p>

                            <span class="start">*Estos valores son aproximaciones que pueden variar al momento de realizar las operaciones financieras.</span>

                        </div>

                        <div class="form_item form-group">

                            <label>Garantía</label>

                            <select #warranties disabled>

                                <option value="0" selected disabled>Selecciona una opción</option>

                                <option value="1">Prenda</option>

                                <option value="2">Hipoteca</option>

                                <option value="3">Pagaré</option>

                            </select>

                        </div>

                    </form>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="wrapper container">

                <div class="registration_form">

                    <form>

                        <div class="form_item form-group">

                            <label>Banco</label>

                            <select #banks disabled>

                                <option value="0" selected disabled>Selecciona una opción</option>

                                <option value="Banco Agrario">Banco Agrario</option>

                                <option value="Banco AV Villas">Banco AV Villas</option>

                                <option value="Bancamia">Bancamia</option>

                                <option value="BBVA">BBVA</option>

                                <option value="Banco de Bogotá">Banco de Bogotá</option>

                                <option value="Banco Caja Social">Banco Caja Social</option>

                                <option value="Citibank">Citibank</option>

                                <option value="Bancolombia">Bancolombia</option>

                                <option value="Banco Colpatria">Banco Colpatria</option>

                                <option value="Banco Coomeva">Banco Coomeva</option>

                                <option value="Banco Corpbanca">Banco Corpbanca</option>

                                <option value="Davivienda">Davivienda</option>

                                <option value="Banco Falabella">Banco Falabella</option>

                                <option value="Banco Finandina">Banco Finandina</option>

                                <option value="Banco GNB Sudameris">Banco GNB Sudameris</option>

                                <option value="Helm bank">Helm bank</option>

                                <option value="HSBC Colombia">HSBC Colombia</option>

                                <option value="Banco de Occidente">Banco de Occidente</option>

                                <option value="Banco Pichincha">Banco Pichincha</option>

                                <option value="Banco Popular">Banco Popular</option>

                                <option value="Banco Procredito">Banco Procredito</option>

                                <option value="Banco de la República">Banco de la República</option>

                                <option value="Scotiabank">Scotiabank</option>

                                <option value="Banco WWB">Banco WWB</option>

                                <option value="ANIF">ANIF</option>

                                <option value="Asobancaria">Asobancaria</option>

                                <option value="Fogafin">Fogafin</option>

                                <option value="Superfinanciera">Superfinanciera</option>

                            </select>

                        </div>

                        <div class="form_item form-group">

                            <label>Tipo de cuenta</label>

                            <select #account_type disabled>

                                <option value="0" selected disabled>Selecciona una opción</option>

                                <option value="1">Ahorros</option>

                                <option value="2">Corriente</option>

                            </select>

                        </div>

                        <div class="form_item form-group">

                            <label>Número de cuenta</label>

                            <input #account_input type="text" class="form-control" name="password" readonly>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

    <div class="interested_investors">

        <legend class="title">Inversionistas Interesados</legend>

        <h5 style="color:#D6D6D6;text-align:center" *ngIf="project_data.investors.length==0">Sin inversionistas</h5>

        <div class="investor" *ngFor="let inv of project_data.investors; let i=index">

          <div class="name">
            Inversionista {{i+1}}
          </div>

          <div class="judgments_container">

              <div class="pro">
                <div class="header">
                  <img src="/assets/images/investor-profile/pros.png" alt="">
                  <h2>Pros</h2>
                </div>
                <ul>
                  <legend *ngIf="inv.pros.length==0">Sin asignar</legend>
                  <div *ngFor="let op of inv.pros; let i=index">
                    <li>
                      <span>{{op.opinion}}</span>
                    </li>
                  </div>
                </ul>
              </div>

              <div class="con">
                <div class="header">
                  <img src="/assets/images/investor-profile/contras.png" alt="">
                  <h2>Contras</h2>
                </div>
                <ul>
                  <legend *ngIf="inv.cons.length==0">Sin asignar</legend>
                  <div *ngFor="let op of inv.cons; let i=index">
                    <li>
                      <span>{{op.opinion}}</span>
                    </li>
                  </div>
                </ul>
              </div>

          </div>

        </div>

    </div>

    <button type="button" name="button" class="return_action" (click)="getBack()">Volver</button>

</div>
