<div class="wrapper container">

    <div class="registration_form" (click)="submitButton.name">

        <h3 class="title">Términos y condiciones</h3>

        <div class="paragraph_container">

            <div class="content_wrapper">

                <h6>POLITICA DE PRIVACIDAD</h6><br>

                <p>

                  <span class="bold">PHX S.A.S.</span>, con domicilio social en la ciudad de Bogotá Cundinamarca (“<span class="bold">PHX</span>”)
                  desea informar a los usuarios (“Usuarios”) de su plataforma tecnológica web (“<span class="bold">plataforma</span>”) y de su sitio web
                  <a href="/">phx.com.co</a>
                  (“<span class="bold">Sitio Web</span>”) acerca de su política
                  de protección de datos de carácter personal, para que éstos determinen libre y voluntariamente si desean facilitar a <span class="bold">PHOENIX</span>
                  los datos personales que se les puedan requerir o que se puedan obtener sobre los mismos con ocasión de su acceso y uso de su Sitio Web. <br><br>
                  AL ACEPTAR LOS TERMINOS Y CONDICIONES DE USO, EL USUARO ADHIERE A ESTA POLITICA DE PRIVACIDAD.<br><br>

                </p>

                <h6>1. OBJETO Y FINALIDAD DE LA RECOLECCION  DE DATOS PERSONALES</h6><br>

                <p>

                  <span class="bold">PHOENIX</span> recoge datos personales de los Usuarios del Sitio Web (“<span class="bold">Datos Personales</span>”) a través de varios medios,
                  como por ejemplo, a través del Formulario de Registro del Sitio Web.<br><br>

                  Salvo que se indique otra cosa, y sin perjuicio de que el suministro de los Datos Personales facilitados a través de la
                  aplicación y/o sitio web es voluntario; la falta de suministro de dichos Datos Personales podrá afectar la calidad de los
                  servicios proporcionados por <span class="bold">PHOENIX</span>.<br><br>

                  Los Datos Personales de los Usuarios se incluyen en un archivo automatizado de <span class="bold">PHOENIX</span>, con vistas a, entre otros, mantener
                  una adecuada relación con los Usuarios; facilitar el acceso al servicio prestado por <span class="bold">PHOENIX</span>.; prestar, gestionar, administrar,
                  ampliar y mejorar los servicios y/o contenidos ofrecidos en el Sitio Web; así como para atender adecuadamente cualquier
                  consulta o solicitud de información planteada por los Usuarios y, en su caso, para la remisión de información sobre los servicios
                  o actividades de <span class="bold">PHOENIX</span>, que pudieran ser del interés de los Usuarios.<br><br>

                  <span class="bold">PHOENIX</span>., en ningún caso remitirá publicidad y comunicaciones con fines de venta u otras de naturaleza comercial a los usuarios,
                  sin que medie su previa solicitud o consentimiento, que se podrá realizar a través de medios electrónicos. Se entiende que no entra
                  en el concepto de publicidad y comunicaciones con fines de venta, en los términos descritos en la Ley, los newsletters o SMS que
                  ocasionalmente pueda transmitir <span class="bold">PHOENIX</span>  a sus usuarios registrados y socios.<br><br>

                  Si posteriormente, el Usuario desea revocar su consentimiento otorgado para recibir información comercial vía correo electrónico
                  o por cualquier otro medio similar o equivalente, podrá comunicarlo, enviando un correo electrónico a info@PHOENIX.com sin perjuicio
                  de los derechos de acceso, rectificación, cancelación y oposición que le asisten y que podrá ejercitar de conformidad con lo dispuesto
                  en el apartado 6 de la presente Política de Privacidad y Protección de Datos Personales.<br><br>

                  La información será tratada por <span class="bold">PHOENIX</span> o <span class="bold">PHX</span> de acuerdo con las siguientes finalidades:<br>

                </p>

                <ol type="a">

                    <li>
                        Realizar ante los operadores de información (Datacrédito, Cifin y/o cualquier otra entidad que llegue a
                        manejar bases de datos con los mismos objetivos) la consulta de información crediticia, así como el reporte de la generación,
                        modificación, extinción, cumplimiento o incumplimiento de las obligaciones contraídas por ti en favor de <span class="bold">PHOENIX</span> y la utilización
                        indebida de los productos y/o servicios prestados u ofrecidos por la entidad.
                    </li>

                    <li>
                        Realizar todas las búsquedas y recopilación de información que nos permita realizar el estudio de capacidad
                        crediticia y de pago incluyendo para el efecto la información reportada en tus planillas de seguridad social
                        de acuerdo con la información presentada por ti o tu empleador a las entidades administradoras de fondos de
                        pensiones, ya sea directamente a través de terceros especialmente contratados para el efecto quienes podrán realizar
                        la consulta correspondiente directamente ante las entidades recaudadoras o por medio de la información que consta en
                        los Operadores de Información autorizados por el Ministerio de salud y Protección Social.
                    </li>

                    <li>
                        Compartir e intercambiar con sus entidades filiales, matrices, aliadas y/o con entidades financieras,
                        información personal contenida en las bases de datos de la entidad con fines de control de riesgos, desembolso y pago de
                        obligaciones, comerciales, estadísticos y la realización de actividades de mercadeo de sus servicios y publicidad.
                    </li>

                    <li>
                        Utilizar los comentarios, artículos, fotos, videos y otros contenidos que se publican por el Cliente en nuestra
                        página de internet, o que se presentan por cualquier otro medio de comunicación de <span class="bold">PHOENIX</span> o <span class="bold">PHX</span> para la realización
                        de actividades comerciales o de mercadeo de <span class="bold">PHOENIX</span> o <span class="bold">PHX</span> a través de nuestra página de internet, Facebook y otros medios
                        de comunicación y utilizarlos como parte de nuestras campañas comerciales o de mercadeo dirigidas al público en general a
                        través de distintos medios de comunicación.
                    </li>

                    <li>
                        Publicar en nuestra página de internet, testimoniales de algunos clientes, que han adquirido nuestro servicio,
                        como parte de nuestras campa;as comerciales o de mercadeo dirigidas al público en general.
                    </li>

                    <li>
                        Adelantar contactos con fines comerciales y promocionales ya sea sobre sus propios servicios y productos, o los de
                        terceros con los que <span class="bold">PHOENIX</span> o <span class="bold">PHX</span> tenga relaciones comerciales o alianzas, a través de correo, teléfono, celular, correo
                        electrónico o cualquier otro medio conocido o por conocer.
                    </li>

                    <li>
                        Realizar actividades de gestión de cobro, aviso de reporte a las centrales de riesgo, entrega de extractos de
                        obligaciones y actualizar tu información a través de diferentes actividades como lo son la consulta en bases de datos
                        públicas, páginas de internet y redes sociales y referencias de terceras personas, en particular las personas que han
                        servido de referencia para la utilización de los servicios de <span class="bold">PHOENIX</span> o <span class="bold">PHX</span>.
                    </li>

                    <li>
                        El tratamiento de la información podrá realizarse por <span class="bold">PHOENIX</span> o <span class="bold">PHX</span> directamente o a través de terceros proveedores
                        localizados en Colombia o en el exterior. Ese proceso puede implicar la recolección, archivo, procesamiento y transmisión
                        de dicha información entre compañías vinculadas o relacionadas contractualmente con <span class="bold">PHOENIX</span> o <span class="bold">PHX</span> tales como proveedores
                        del servicio de call y contact center, proveedores del servicio de mensajería, empresas de cobranza y profesionales del
                        derecho que colaboran con la entidad la recuperación de su cartera, localizadas dentro o fuera de Colombia. En todo caso,
                        esas entidades estarán igualmente sujetas a las mismas obligaciones de confidencialidad en el manejo de la información a que
                        está sujeto <span class="bold">PHOENIX</span> o <span class="bold">PHX</span> con las limitaciones legales impuestas por las leyes aplicables sobre la materia, en la jurisdicción
                        donde ésta se recolecte, archive, procese o transmita.
                    </li>

                </ol><br>

                <h6>2. COOKIES</h6><br>

                <p>

                  <span class="bold">PHOENIX</span> utiliza cookies para identificar a los Usuarios que visitan el Sitio Web, recordar las preferencias de los Usuarios
                  y proporcionar servicios personalizados, así como para hacer un seguimiento de la utilización del Sitio Web. Sin embargo,
                  determinadas áreas o servicios del Sitio Web podrían no estar disponibles en caso de elegir esta opción.

                  <span class="bold">PHOENIX</span> sólo podrá hacer uso de la información referente al Usuario contenida en las cookies derivadas de la instalación/utilización
                  del acceso al Sitio Web por parte del Usuario, si el Usuario prestase su consentimiento de manera expresa, pues se trata de una
                  configuración atribuible a él. A tal efecto, el Usuario podrá acceder en cualquier momento a la Política de Privacidad que acepta
                  al realizar el proceso de registro. También podrá aceptar la Política de Privacidad al visitar el Sitio Web. Si no desea que <span class="bold">PHOENIX</span>
                  use esta información, puede cambiar la configuración de las cookies en su navegador en cualquier momento.

                  Asimismo, el Sitio Web puede incluir cookies de terceros proveedores de servicios y/o contenidos. Los Usuarios podrán aceptar o
                  rechazar el uso de cookies y en consecuencia <span class="bold">PHOENIX</span> no será en ningún caso responsable por cualesquiera actividades de tratamiento
                  llevadas a cabo por terceros en relación con los Datos Personales recogidos a través de las cookies introducidas por los mismos en el Sitio Web.

                </p><br>

                <h6>3. MENORES DE 16 AÑOS</h6><br>

                <p>

                  La Aplicación y el Sitio Web están dirigidos exclusivamente a Usuarios capaces, estando por tanto restringida la entrada
                  de menores de 16 años al mismo. Sin perjuicio de lo anterior, <span class="bold">PHOENIX</span> se reserva el derecho de verificar, por los medios
                  que considere más oportunos, la edad real de cualquier Usuario.

                  Bajo sospecha de que un Usuario de la Aplicación y del Sitio Web es menor de 16 años, y de que ha falseado los datos que se
                  requieren para su acceso, <span class="bold">PHOENIX</span> podrá denegar al referido Usuario el acceso a los servicios ofrecidos.

                </p><br>

                <h6>4. PRESTACIÓN DE SERVICIOS POR PARTE DE TERCEROS</h6><br>

                <p>

                  <span class="bold">PHOENIX</span> puede requerir poner los Datos Personales o parte de ellos a disposición de terceros prestadores de servicios,
                  como por ejemplo los Usuarios Inversionistas que realicen operaciones de mutuo con clientes finales, otras empresas propiedad
                  del grupo empresarial al que pertenece <span class="bold">PHOENIX</span>., empresas informáticas y proveedores de pago, tales como Visa, Mastercard,
                  American Express, que podrán no estar localizadas en Colombia, algunos de los cuales pueden no ofrecer un nivel de protección
                  equivalente al que existe en Colombia con el fin del adecuado mantenimiento y funcionamiento del Sitio Web así como para la gestión
                  de los pagos abonados por el Usuario por el uso del servicio contratado a través de la plataforma. Los Usuarios autorizan expresamente
                  la transferencia de sus datos personales a dichos terceros, con las finalidades anteriormente indicadas.

                </p><br>

                <h6>5. SEGURIDAD</h6><br>

                <p>

                    <span class="bold">PHOENIX</span> manifiesta y garantiza que realizará en todo momento sus mejores esfuerzos para mantener la seguridad y
                    confidencialidad de los Datos Personales y que continuará desarrollando las medidas de seguridad adoptadas en línea
                    con cualesquiera definición legal y tecnológica y que en todo caso dará tratamiento a estos datos personales, bajo los
                    parámetros que la ley vigente exige.

                </p><br>

                <h6>6. DERECHOS DE LOS USUARIOS</h6><br>

                <p>

                  EL USUARIO – TANTO INVERSIONISTA COMO CLIENTE FINAL - TIENE TODOS LOS DERECHOS DERIVADOS DE LA LEY 1581 Y DE SUS DECRETOS REGLAMENTARIOS.<br><br>

                  El Usuario podrá ejercitar en cualquier momento sus derechos de acceso, rectificación, cancelación y oposición al tratamiento
                  de sus Datos Personales, mediante solicitud realizada en la siguiente dirección de e-mail: <span class="cursive underline blue">info@PHOENIX.com </span>

                </p><br>

                <h6>7. MODIFICACIONES DE LA POLÍTICA DE PROVACIDAD</h6><br>

                <p>

                  En caso de que <span class="bold">PHOENIX</span> modifique la presente Política de Privacidad, <span class="bold">PHOENIX</span> publicará una notificación en el Sitio Web para que
                  los Usuarios puedan tener conocimiento de cualquier cambio en el tipo de Datos Personales que se recogen, las finalidades del
                  tratamiento y/o las comunicaciones a terceros. En ningún caso, ninguna modificación a la presente Política de Privacidad, afectarán,
                  por sí mismas, la elección que el Usuario haya formulado en lo que respecta al modo en que <span class="bold">PHOENIX</span> puede utilizar sus Datos Personales.

                </p><br>

                <h6>8. ACEPTACIÓN</h6><br>

                <p>

                    El envío de Datos Personales, mediante los formularios del Sitio Web, o por el uso de otros servicios
                    ofrecidos por <span class="bold">PHOENIX</span> supone el consentimiento expreso al tratamiento de los Datos Personales por <span class="bold">PHOENIX</span>
                    en los términos descritos en la presente Política de Privacidad.

                </p><br>

            </div>

            <input #f1 type="checkbox" name="" id="cb">
            <label for="cb"></label>

        </div>

        <div class="paragraph_container">

            <div class="content_wrapper">

                <h6>Términos y Condiciones</h6><br>

                <p>

                  La plataforma tecnológica web <span class="bold">PHOENIX</span> es propiedad de <span class="bold">PHX SAS</span> sociedad debidamente constituida bajo las leyes de la República de Colombia.<br><br>

                  Este contrato describe los términos y condiciones (los "Términos y Condiciones") aplicables al uso de los servicios ofrecidos por <span class="bold">PHOENIX</span>
                  ("los Servicios") dentro del sitio www. Phx.com.co ("<span class="bold">PHOENIX</span>" o el "sitio"). Cualquier persona que desee acceder y/o usar el sitio o los
                  servicios, podrá hacerlo sujetándose a los Términos y Condiciones, junto con todas las demás políticas y principios que rigen <span class="bold">PHOENIX</span> y que
                  hacen parte integrante de los presentes Términos y Condiciones.<br><br>

                  <span class="bold">
                  Si usted no acepta los términos y condiciones aquí establecidas, no use PHOENIX.com ni sus servicios integrados en su plataforma
                  tecnológica. Mediante el uso de PHOENIX, usted está indicando su aceptación a estos Términos y Condiciones.</span><br><br>

                  El usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones y en las Políticas de
                  Privacidad, así como en los demás documentos incorporados a los mismos, previo a su inscripción como Usuario (bien sea Cliente o
                  Inversionista) de <span class="bold">PHOENIX</span>.<br><br>

                  <span class="bold">PHOENIX</span> puede modificar estos Términos y Condiciones en cualquier momento. Usted debe revisar esta página periódicamente para
                  revisar los Términos y Condiciones, ya que los mismos son obligatorios y vinculantes para usted. En <span class="bold">PHOENIX</span>, los términos y
                  condiciones aplicables, serán los contenidos en la última versión publicada en su página web.<br><br>

                  Cada vez que en estos Términos y Condiciones se utilice “usted” o “usuario”, se refiere a todas las personas naturales o
                  jurídicas, entidades gubernamentales y no gubernamentales, entidades de derecho público y derecho privado o cualquier otra
                  entidad que acceda a <span class="bold">PHOENIX</span> por cualquier medio o razón.<br>

                </p>

                <span class="bold_li">1. Usuarios</span><br>

                <p>

                  Entiéndase por Usuarios, tanto los inversionistas que están dispuestos a  realizar operaciones de mutuo con terceros,
                  como los Clientes que tendrán necesidades de financiamiento particulares.<br><br>

                  Para los usuarios que usen los servicios de <span class="bold">PHOENIX</span>, cualquiera que fuera su denominación, es obligatorio completar
                  el formulario de registro de cuenta en todos sus campos, con datos válidos para poder utilizar los servicios que brinda
                  <span class="bold">PHOENIX</span>. El usuario deberá completar con información exacta, precisa y verdadera ("Datos Personales") y asume el compromiso
                  de actualizar los Datos Personales conforme resulte necesario. <span class="bold">PHOENIX</span> podrá utilizar diversos medios para identificar a los
                  usuarios, pero <span class="bold">PHOENIX</span> no se responsabiliza por la certeza de los Datos Personales provistos por los usuarios. Los usuarios
                  garantizan y responden por la veracidad, exactitud, vigencia y autenticidad de los Datos Personales ingresados.<br><br>

                  De igual forma, <span class="bold">PHOENIX</span> se reserva la posibilidad de solicitar información adicional. Los usuarios facultan expresamente
                  a <span class="bold">PHOENIX</span> a solicitar, indagar y verificar sus Datos Personales, así como suspender temporal o definitivamente a aquellos
                  usuarios cuyos datos no hayan podido ser confirmados o sean falsos.<br><br>

                  El usuario accederá a su cuenta (“Cuenta”) mediante el ingreso de su correo electrónico y clave de seguridad personal
                  ("Contraseña"), señalando el rol que asume (cliente, inversionista o administrador). El usuario se obliga a mantener
                  la confidencialidad de su Contraseña.<br><br>

                  La Cuenta es personal, única e intransferible, y está prohibido que un mismo usuario inscriba o posea más de una
                  Cuenta. Así mismo, está prohibido que una Cuenta sea utilizada por dos o más usuarios. En caso que <span class="bold">PHOENIX</span> detecte
                  distintas Cuentas que contengan datos coincidentes o relacionados, podrá cancelar, suspender o inhabilitarlas.
                  También podrá cancelar, suspender o inhabilitar las cuentas que están siendo utilizadas por dos o más usuarios. <br><br>

                  El usuario será responsable por todo el uso que se haga en su Cuenta, porque el acceso a la misma está restringido
                  al ingreso y uso de su Clave de Seguridad, que es de exclusivo conocimiento del usuario. El usuario se compromete a
                  notificar a <span class="bold">PHOENIX</span> en forma inmediata y por medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta,
                  así como el ingreso por terceros no autorizados a la misma.<br><br>

                  Está prohibida la venta, cesión o transferencia de la Cuenta entre usuarios, bajo ningún título o modalidad.<br><br>

                  <span class="bold">PHOENIX</span>  se reserva el derecho de rechazar cualquier solicitud de cuenta o de cancelar una inscripción previamente
                  aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho
                  a indemnización o resarcimiento.<br><br>

                </p>

                <span class="bold_li">2. Modificaciones de los términos y condiciones</span><br>

                <p>

                  <span class="bold">PHOENIX</span> podrá modificar los Términos y Condiciones en cualquier momento, con la sola condición de publicarlos en el
                  portal <span class="bold">PHOENIX.com</span><br><br>

                  Todos los términos modificados entrarán en vigor el día de su publicación. Si el Usuario no acepta las modificaciones que
                  se hicieran de los términos y condiciones aquí expresados, el usuario podrá comunicar al correo electrónico <span class="cursive underline blue">info@PHOENIX.com </span>
                  su decisión de no aceptar las modificaciones introducidas. En este caso, quedará disuelto el vínculo contractual y el usuario
                  será inhabilitado para acceder a su Cuenta. <br>

                </p>

                <span class="bold_li">3. Contenidos</span><br>

                <p>

                  <span class="bold">PHOENIX</span> facilita al Usuario un servicio, actuando en calidad de intermediario en la prestación de servicios de
                  corretaje en materia financiera (en adelante, el “Servicio”), para el acceso desintermediado a facilidades de
                  crédito, donde se pone en contacto a dos tipos de usuarios (Inversionista, quien tiene recursos superavitarios;
                  y Cliente  quien tiene necesidades de financiación) Se trata de una plataforma P2P peer to peer de corretaje en
                  la operación de mutuo. <span class="bold">PHOENIX</span>, facilita al Usuario el acceso a diversos contenidos, información y datos proporcionados
                  por <span class="bold">PHOENIX</span> en relación con el Servicio (en adelante, los “Contenidos”). <span class="bold">PHOENIX</span> se reserva el derecho a modificar en
                  cualquier momento la presentación, la configuración y ubicación de la Aplicación y/o el Sitio Web, así como las
                  correspondientes condiciones de acceso y uso. <span class="bold">PHOENIX</span> no garantiza que los Contenidos proporcionados a través de
                  <span class="bold">PHOENIX</span> serán en todo caso correctos, completos o actualizados.<br><br>

                  <span class="bold">PHOENIX</span> actúa en calidad de intermediario en la prestación de servicios de corretaje en materia financiera,
                  no se trata de una entidad financiera, y su único propósito es poner en contacto a quien tienen recursos para
                  realizar operaciones de mutuo, y quienes lo necesitan.<br>

                </p>

                <span class="bold_li">4. Privacidad de la información</span><br>

                <p>

                    Para utilizar los servicios ofrecidos por <span class="bold">PHOENIX</span>, los usuarios deberán facilitar determinados datos
                    de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos
                    que mantienen altos estándares de seguridad y protección tanto física como tecnológica.<br>

                </p>

                <span class="bold_li">5. Obligaciones</span><br>

                <p>

                  Las tarifas aplicables al Servicio serán cobradas por <span class="bold">PHOENIX</span> de forma automática, a través de
                  pasarelas o medios de pago electrónicos previamente convenidos con el cliente en el uso de la plataforma. <br><br>

                  <span class="bold">PHOENIX</span> podrá hacer una validación del método de pago autorizando. <br><br>

                  Las tarifas cobradas no serán reembolsables. Las tarifas y los gastos de cancelación y compensación,
                  así como sus actualizaciones, están disponibles en todo momento en <span class="bold">PHOENIX</span> y están sujetas a posibles
                  modificaciones. Se recomienda al Usuario que acceda periódicamente a <span class="bold">PHOENIX</span> para conocer las tarifas
                  aplicables en cada momento.<br><br>

                  El Usuario podrá, a su elección, realizar transferencias bancarias a la cuenta bancaria que se indique en el Formulario de Registro. <br><br>


                  Con arreglo a lo dispuesto en la Política de Privacidad, los datos de la tarjeta de crédito facilitados
                  en el Formulario de Registro serán remitidos a la empresa proveedora de pagos y encargada de almacenar
                  dichos datos del Usuario. El Usuario deberá acceder o podrá ser redirigido al sitio Web del proveedor de
                  pagos a través del enlace facilitado al efecto en el Formulario de Registro. En todo caso se recomienda al
                  Usuario consultar los términos y condiciones de uso y las políticas de privacidad de los sitios Web de terceros
                  a los que accedan a través de enlaces incluidos en <span class="bold">PHOENIX</span>.<br><br>

                  Asimismo, conforme a lo previsto en la Política de Privacidad, los datos bancarios del Usuario a los
                  que <span class="bold">PHOENIX</span> pueda tener tendrán la consideración a todos los efectos de Datos Personales de los Usuarios.<br><br>

                  Las facturas estarán a disposición del Usuario en las oficinas de <span class="bold">PHOENIX</span> sin perjuicio de que puedan
                  consultarlas a través de <span class="bold">PHOENIX</span>. Salvo que expresamente lo solicite el Usuario, indicando la dirección
                  postal en la sección destinada al efecto en <span class="bold">PHOENIX</span>, las facturas estarán a disposición del Usuario en las
                  oficinas de <span class="bold">PHOENIX</span> En caso de solicitarlo expresamente, las facturas serán remitidas al Usuario en la
                  dirección indicada al efecto. A efectos puramente informativos, las facturas podrán ser consultadas a
                  través de <span class="bold">PHOENIX</span>.<br>

                </p>

                <span class="bold_li">6. Fraude</span><br>

                <p>

                    No está permitida ninguna acción o uso de dispositivo, software, u otro medio tendiente a interferir
                    tanto en las actividades y operación de <span class="bold">PHOENIX</span>, como en las ofertas, descripciones, cuentas o bases
                    de datos de <span class="bold">PHOENIX</span>. Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes
                    sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en este contrato, harán
                    responsable al infractor de las acciones legales pertinentes y de las sanciones previstas por este acuerdo,
                    así como lo hará responsable de indemnizar los daños y perjuicios ocasionados.

                </p>

                <span class="bold_li">7. Sanciones</span><br>

                <p>

                    Sin perjuicio de otras medidas, <span class="bold">PHOENIX</span> podrá suspender en forma temporal o inhabilitar definitivamente
                    la cuenta de un usuario o una publicación; iniciar las acciones que estime pertinentes y/o suspender la
                    prestación de sus servicios en los siguientes casos:

                </p>

                <ol>

                    <li>
                        Violación de alguna ley, decreto, reglamentación o los Términos y Condiciones y demás políticas de <span class="bold">PHOENIX</span>.
                    </li>

                    <li>
                        Si un usuario incumple los compromisos adquiridos por estos Términos y Condiciones.
                    </li>

                    <li>
                        Si un usuario incurriera, a criterio exclusivo de <span class="bold">PHOENIX</span>, en conductas o actos dolosos o fraudulentos.
                    </li>

                    <li>
                        Si no pudiera verificarse la identidad del usuario o cualquier información proporcionada por el mismo fuere errónea.
                    </li>

                </ol><br>

                <span class="bold_li">8. Responsabilidad</span><br>

                <p>

                  <span class="bold">PHOENIX</span> no interviene en el desarrollo de una relación de mutuo entre Cliente e Inversionista;  por ello
                  no será responsable respecto de la existencia, calidad, cantidad, estado, integridad o legitimidad de los
                  servicios ofrecidos o adquiridos por los usuarios. El artículo 1340 del Código de Comercio Colombiano señala:
                  "se llama corredor la persona que, por su especial conocimiento de los mercados, se ocupa como agente
                  intermediario en la tarea de poner en relación a dos o más personas, con el fin de que celebren un negocio
                  comercial, sin estar vinculado a las partes por relaciones de colaboración, dependencia, mandato o representación".<br><br>

                  De esta definición se deduce que para ser calificado como corredor es necesario que sea un profesional en
                  la actividad que está ofreciendo deduciéndose con este calificativo que ejerce en forma habitual esa actividad,
                  como es el caso de PHX, por eso se puede predicar de él como persona con conocimientos de esos mercados, para
                  este caso con conocimiento en el mercado de oferta y demanda de mutuo, ocupándose como agente intermediario en
                  la tarea de poner en contacto a personas que necesitan celebrar un negocio común, pero sin que él celebre o
                  intervenga en el negocio.<br>

                </p>

                <span class="bold_li">9. Fallas en el sistema</span><br>

                <p>

                    <span class="bold">PHOENIX</span> no se responsabiliza por cualquier daño, perjuicio o pérdida al usuario causados por
                    fallas en el sistema, en el servidor o en Internet. <span class="bold">PHOENIX</span> tampoco será responsable por cualquier
                    virus que pudiera infectar el equipo del usuario como consecuencia del acceso, uso o examen de su
                    sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos
                    en el mismo. Los usuarios no podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante,
                    en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet.
                    <span class="bold">PHOENIX</span> no garantiza el acceso y uso continuado o ininterrumpido de su plataforma tecnológica.
                    El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet,
                    o por cualquier otra circunstancia ajena a <span class="bold">PHOENIX</span>; en tales casos se procurará restablecerlo con la
                    mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. <span class="bold">PHOENIX</span> no
                    será responsable por algún error u omisión de información en su sitio web.<br>

                </p>

                <span class="bold_li">10. Propiedad intelectual</span><br>

                <p>

                  Los contenidos de las pantallas relativas a los servicios de <span class="bold">PHOENIX</span>, así como los programas,
                  bases de datos, redes, archivos que permiten al usuario acceder y usar su cuenta, son de propiedad
                  de <span class="bold">PHOENIX</span> y están protegidas por las leyes y los tratados internacionales de derecho de autor,
                  marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial
                  de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de <span class="bold">PHOENIX</span>.<br><br>

                  El Sitio puede contener enlaces a otros sitios web o Apps, lo cual no indica que sean propiedad u
                  operados por <span class="bold">PHOENIX</span>. En virtud que <span class="bold">PHOENIX</span> no tiene control sobre tales sitios, NO será responsable
                  por los contenidos, materiales, acciones y/o servicios prestados por los mismos, ni por daños o pérdidas
                  ocasionadas por la utilización de los mismos, sean causadas directa o indirectamente. La presencia de
                  enlaces a otros sitios web o Apps no implica una sociedad, relación, aprobación ni respaldo de <span class="bold">PHOENIX</span>
                  a dichos sitios y sus contenidos.<br>

                </p>

                <span class="bold_li">11. Indemnidad</span><br>

                <p>

                    El usuario de <span class="bold">PHOENIX</span> (tanto inversionista como cliente), indemnizará y mantendrá indemne a <span class="bold">PHOENIX</span>,
                    sus filiales, empresas controladas y/o controlantes, directivos, administradores, representantes y empleados,
                    por cualquier reclamo o demanda de otros usuarios o terceros por sus actividades en el sitio o por
                    incumplimiento de los Términos y Condiciones y demás Políticas que se entienden incorporadas al presente,
                    o por la violación de cualquiera ley o derechos de terceros, incluyendo los honorarios de abogados. <br>

                </p>

                <span class="bold_li">12. Jurisdicción y Ley Aplicable</span><br>

                <p>

                  Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República de Colombia.<br><br>

                  Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance
                  o cumplimiento, será sometida a las leyes aplicables y a los tribunales competentes de la ciudad de Bogotá.
                  Los procedimientos se llevarán a cabo en idioma castellano.<br>

                </p>

                <span class="bold_li">13. Domicilio</span><br>

                <p>

                  Se fija como domicilio de <span class="bold">PHOENIX</span> Bogotá D.C., Colombia.<br><br>

                  Si tienes alguna duda sobre los Términos y Condiciones o demás políticas y principios que rigen
                  <span class="bold">PHOENIX</span>, por favor escribirnos a info@PHOENIX.com.<br>

                </p>


            </div>

            <input #f2 type="checkbox" name="" id="cb2">
            <label for="cb2"></label>

        </div>

        <a href="/assets/conditions/TERMINOS_Y_CONDICIONES.pdf" target="_self" download>
            <i class="material-icons mat_icon">vertical_align_bottom</i>
            <span>Descargar términos y condiciones en PDF</span>
        </a><br>

        <div>
            <button #submitButton type="button" [class.action_disabled]="!isFormValid( )" class="action" (click)="onSubmit()">Siguiente</button>
        </div>

        <a class="stepwizard_button step_selected"></a>

        <a class="stepwizard_button step_selected"></a>

        <a class="stepwizard_button step_selected"></a>

        <a class="stepwizard_button step_selected"></a>

        <a class="stepwizard_button"></a>

    </div>

</div>
