@import '../../../../sass/variables.scss';
@import '../../../../sass/mixin.scss';

.user_profile{
    background-color: #F2F2F2;
    .projects{
        min-height: calc(100vh - 255px);
        padding: 50px 0;
        .title{
            font-family: $font-OpenSans-SB;
            font-size: 25px;
            margin-bottom: 50px;
            text-align: center;
        }
        .empty_message {
            color: #cccccc;
            font-family: $font-OpenSans;
            font-size: 2vw;
            margin-top: 12%;
            text-align: center;
        }
        .content_projects{
            max-height: 40vh;
            overflow-y: auto;
        }
    }
}

@media (max-width: 40em) {
    .user_profile{
        .projects{
            display: block;
            padding: 40px 15px;
            .empty_message {
                font-size: 6vw;
            }
        }
    }
}
