<section>

    <div class="profile_container container">

        <div class="info">
            <h2>Editar mis datos</h2>
        </div>

        <div class="row">

            <div class="col-md-5 picture">

              <div class="user_detail">

                  <div class="user_image_container">

                      <img #profile_pic alt="Image User" title="Image User" class="user_image img-fluid" width="130">

                      <div class="upload" (click)="openProfilePicInput()">
                          Sube una foto
                      </div>

                  </div>

                  <div class="detail">

                      <p class="name">{{user_data.name}} {{user_data.lastname}}</p>

                      <!-- <div class="stars">
                        <img src="{{imgPath(0)}}" alt="Image Star Fill" title="Image Star Fill" class="image img-fluid">
                        <img src="{{imgPath(1)}}" alt="Image Star Fill" title="Image Star Fill" class="image img-fluid">
                        <img src="{{imgPath(2)}}" alt="Image Star Fill" title="Image Star Fill" class="image img-fluid">
                        <img src="{{imgPath(3)}}" alt="Image Star Fill" title="Image Star Fill" class="image img-fluid">
                        <img src="{{imgPath(4)}}" alt="Image Star Fill" title="Image Star Fill" class="image img-fluid">
                      </div> -->

                  </div>

                  <input #profile_pic_input type="file" (change)="catchProfilePicFile()"
                      accept="image/*" hidden/>

              </div>

            </div>

            <div class="col-md-7 editable_data">

                <div class="update_alert" *ngIf="data_updated" [@fadeInOut]>
                    <i class="material-icons check_icon">check</i>
                    Tus datos han sido actualizados
                </div>

                <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div class="row" hidden>

                        <div class="col-md-6">

                            <div class="form_item form-group">

                                <label for="name">Nombres</label>

                                <input #f1 type="text" class="form-control" name="name" value="{{user_data.name}}" formControlName="names"
                                    (ngModelChange)="data_updated=false;data_changed=true" autocomplete="off">

                                <span class="input_error_right" *ngIf="!form.controls['names'].hasError('pattern')&&form.controls['names'].hasError('minlength')" [@fadeInOut]>
                                    Mínimo 3 caracteres
                                </span>

                                <span class="input_error_right" *ngIf="form.controls['names'].hasError('pattern')" [@fadeInOut]>
                                    Nombre inválido
                                </span>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="form_item form-group">

                                <label for="name">Apellidos</label>

                                <input #f3 type="text" class="form-control" name="num" value="{{user_data.lastname}}" formControlName="lastname"
                                    (ngModelChange)="data_updated=false;data_changed=true" autocomplete="off">

                                <span class="input_error_right" *ngIf="!form.controls['lastname'].hasError('pattern')&&form.controls['lastname'].hasError('minlength')" [@fadeInOut]>
                                    Mínimo 3 caracteres
                                </span>

                                <span class="input_error_right" *ngIf="form.controls['lastname'].hasError('pattern')" [@fadeInOut]>
                                    Apellido inválido
                                </span>

                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6">

                            <div class="form_item form-group">

                                <label for="name">Dirección</label>

                                <input #f2 type="text" class="form-control" name="address" value="{{user_data.address}}" formControlName="address"
                                    (ngModelChange)="data_updated=false;data_changed=true" autocomplete="off">

                                <span class="input_error_right" *ngIf="form.controls['address'].hasError('minlength')" [@fadeInOut]>
                                    Mínimo 5 caracteres
                                </span>

                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="upload_documents" (click)="fillDocs()">

                                <img src="assets/images/client-profile/clip.png" alt="Image User" title="Image User" class="image">

                                Subir documentos

                                <input #files_input type="file" (change)="catchFiles()"
                                    accept=".pdf" hidden/>

                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6">

                            <button type="submit" name="button" [class.action_disabled]="!isFormValid( )||!data_changed" class="action">Guardar cambios</button>

                        </div>

                        <div class="col-md-6">

                            <button type="button" name="button" class="return_action" (click)="getBack()">
                                <i class="material-icons">keyboard_backspace</i>
                                Volver al perfil
                            </button>

                        </div>

                    </div>

                </form>

            </div>

        </div>

        <div class="accounts_container">

            <legend class="title">Cuentas Bancarias</legend>

            <h4 class="empty" *ngIf="allAccounts.length==0" [@appearingAnimNoDelay]>En el momento no tienes ninguna cuenta</h4>

            <div class="row all-accounts">
              <div class="bank-card-container col-md-4" *ngFor="let account of allAccounts; let i=index" [@appearingAnimNoDelay]>
                <div class="bank-card">
                  <form name="account.form" [formGroup]="account.form">
                    <table>
                      <tr>
                        <td>Banco</td>
                        <td>
                          <div class="data">
                            <div *ngIf="!account.editing" [@editingToggler]>{{account.bank}}</div>
                            <div class="form_item" *ngIf="account.editing" [@editingToggler]>

                                <select formControlName="bank">

                                    <option value="0" selected disabled>Selecciona una opción</option>

                                    <option value="Banco Agrario">Banco Agrario</option>

                                    <option value="Banco AV Villas">Banco AV Villas</option>

                                    <option value="Bancamia">Bancamia</option>

                                    <option value="BBVA">BBVA</option>

                                    <option value="Banco de Bogotá">Banco de Bogotá</option>

                                    <option value="Banco Caja Social">Banco Caja Social</option>

                                    <option value="Citibank">Citibank</option>

                                    <option value="Bancolombia">Bancolombia</option>

                                    <option value="Banco Colpatria">Banco Colpatria</option>

                                    <option value="Banco Coomeva">Banco Coomeva</option>

                                    <option value="Banco Corpbanca">Banco Corpbanca</option>

                                    <option value="Davivienda">Davivienda</option>

                                    <option value="Banco Falabella">Banco Falabella</option>

                                    <option value="Banco Finandina">Banco Finandina</option>

                                    <option value="Banco GNB Sudameris">Banco GNB Sudameris</option>

                                    <option value="Helm bank">Helm bank</option>

                                    <option value="HSBC Colombia">HSBC Colombia</option>

                                    <option value="Banco de Occidente">Banco de Occidente</option>

                                    <option value="Banco Pichincha">Banco Pichincha</option>

                                    <option value="Banco Popular">Banco Popular</option>

                                    <option value="Banco Procredito">Banco Procredito</option>

                                    <option value="Banco de la República">Banco de la República</option>

                                    <option value="Scotiabank">Scotiabank</option>

                                    <option value="Banco WWB">Banco WWB</option>

                                    <option value="ANIF">ANIF</option>

                                    <option value="Asobancaria">Asobancaria</option>

                                    <option value="Fogafin">Fogafin</option>

                                    <option value="Superfinanciera">Superfinanciera</option>

                                </select>
                              </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Tipo de cuenta</td>
                        <td>
                          <div class="data">
                            <div *ngIf="!account.editing" [@editingToggler]>{{account.account_type}}</div>
                            <div class="form_item" *ngIf="account.editing" [@editingToggler]>

                                <select formControlName="account_type">

                                    <option value="0" selected disabled>Selecciona una opción</option>

                                    <option value="1">Ahorros</option>

                                    <option value="2">Corriente</option>

                                </select>

                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Número</td>
                        <td>
                          <div class="data">
                            <div *ngIf="!account.editing" [@editingToggler]>{{account.account_number}}</div>
                            <div class="form_item" *ngIf="account.editing" [@editingToggler]>

                                <input #account_input type="text" class="form-control" name="password" formControlName="account_number">

                                <span class="input_error_right" *ngIf="account.form.controls['account_number'].hasError('pattern')" [@fadeInOut]>
                                    Sólo números
                                </span>

                                <span class="input_error_right" *ngIf="!account.form.controls['account_number'].hasError('pattern')&&account.form.controls['account_number'].hasError('minlength')" [@fadeInOut]>
                                    Mínimo 6 números
                                </span>

                                <span class="input_error_right" *ngIf="!account.form.controls['account_number'].hasError('pattern')&&account.form.controls['account_number'].hasError('maxlength')" [@fadeInOut]>
                                    Máximo 14 números
                                </span>

                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </form>
                  <div class="edit-button" *ngIf="!account.editing" [@editingToggler]>
                    <i class="material-icons" (click)="toggleEdition(i)">edit</i>
                  </div>
                  <div class="edit-button" *ngIf="account.editing" [@editingToggler]>
                    <i class="material-icons" (click)="toggleEdition(i)">save</i>
                  </div>
                </div>
              </div>

              <div class="bank-card-container col-md-4">
                <div class="bank-card">
                  <div class="new">Nueva</div>
                  <form name="accountForm" [formGroup]="accountForm">
                    <table>
                      <tr>
                        <td>Banco</td>
                        <td>
                          <div class="data">
                              <div class="form_item">

                                  <select formControlName="bank">

                                      <option value="0" selected disabled>Selecciona una opción</option>

                                      <option value="Banco Agrario">Banco Agrario</option>

                                      <option value="Banco AV Villas">Banco AV Villas</option>

                                      <option value="Bancamia">Bancamia</option>

                                      <option value="BBVA">BBVA</option>

                                      <option value="Banco de Bogotá">Banco de Bogotá</option>

                                      <option value="Banco Caja Social">Banco Caja Social</option>

                                      <option value="Citibank">Citibank</option>

                                      <option value="Bancolombia">Bancolombia</option>

                                      <option value="Banco Colpatria">Banco Colpatria</option>

                                      <option value="Banco Coomeva">Banco Coomeva</option>

                                      <option value="Banco Corpbanca">Banco Corpbanca</option>

                                      <option value="Davivienda">Davivienda</option>

                                      <option value="Banco Falabella">Banco Falabella</option>

                                      <option value="Banco Finandina">Banco Finandina</option>

                                      <option value="Banco GNB Sudameris">Banco GNB Sudameris</option>

                                      <option value="Helm bank">Helm bank</option>

                                      <option value="HSBC Colombia">HSBC Colombia</option>

                                      <option value="Banco de Occidente">Banco de Occidente</option>

                                      <option value="Banco Pichincha">Banco Pichincha</option>

                                      <option value="Banco Popular">Banco Popular</option>

                                      <option value="Banco Procredito">Banco Procredito</option>

                                      <option value="Banco de la República">Banco de la República</option>

                                      <option value="Scotiabank">Scotiabank</option>

                                      <option value="Banco WWB">Banco WWB</option>

                                      <option value="ANIF">ANIF</option>

                                      <option value="Asobancaria">Asobancaria</option>

                                      <option value="Fogafin">Fogafin</option>

                                      <option value="Superfinanciera">Superfinanciera</option>

                                  </select>
                                </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Tipo de cuenta</td>
                        <td>
                          <div class="data">
                            <div class="form_item">

                                <select formControlName="account_type">

                                    <option value="0" selected disabled>Selecciona una opción</option>

                                    <option value="1">Ahorros</option>

                                    <option value="2">Corriente</option>

                                </select>

                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Número</td>
                        <td>
                          <div class="data">
                            <div class="form_item">

                                <input #account_input type="text" class="form-control" name="password" formControlName="account_number">

                                <span class="input_error_right" *ngIf="accountForm.controls['account_number'].hasError('pattern')" [@fadeInOut]>
                                    Sólo números
                                </span>

                                <span class="input_error_right" *ngIf="!accountForm.controls['account_number'].hasError('pattern')&&accountForm.controls['account_number'].hasError('minlength')" [@fadeInOut]>
                                    Mínimo 6 números
                                </span>

                                <span class="input_error_right" *ngIf="!accountForm.controls['account_number'].hasError('pattern')&&accountForm.controls['account_number'].hasError('maxlength')" [@fadeInOut]>
                                    Máximo 14 números
                                </span>

                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </form>
                  <div class="edit-button">
                    <i class="material-icons" (click)="postNewAccount()">save</i>
                  </div>
                </div>
              </div>
            </div>

        </div>

    </div>

</section>
