<div class="step_modal modal fade" id="step1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons mat_icon">clear</i></span>
                </button>

            </div>

            <div class="modal-body modal_content">

                      <img src="assets/images/registration/logo@72x.png" alt="Logo Phoenix" title="Logo Phoenix" class="img-fluid">

                <div class="response">

                    <div class="image">
                        <img src="assets/images/client-profile/reloJ_desktop@72x.png" alt="Logo Phoenix" title="Logo Phoenix" class="img-fluid d-none d-md-block">
                        <img src="assets/images/client-profile/reloJ_desktop@72x.png" alt="Logo Phoenix" title="Logo Phoenix" class="img-fluid d-block d-sm-none">
                    </div>

                    <p class="text">Tu proyecto está en proceso de aprobación, muy pronto te contactaremos.</p>

                    <a class="action" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">OK</span>
                    </a>
                </div>

            </div>

        </div>

    </div>

</div>

<section class="user_profile">

    <app-customer-nav #upper_nav></app-customer-nav>

    <section class="projects container">

        <h3 class="title">MIS PROYECTOS</h3>

        <div class="content_projects row"
            infinite-scroll
            [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollThrottle]="throttle"
            [scrollWindow]="false"
            (scrolled)="onScrollDown()">

            <div  *ngFor="let proj of projects; let i = index" class="col-md-4">
                <app-cool-project-link
                  [state]="proj.state"
                  [dream]="proj.dream"
                  [money]="proj.money"
                  [notification]="proj.notification"
                  (click)="projectRoutingHandler(i,ooo)">
                </app-cool-project-link>
                <button #ooo type="button" name="button" hidden data-toggle="modal" data-target="#step1Modal"></button>
            </div>

            <div class="col-md-4">
                <app-new-project-link (click)="createProject()"></app-new-project-link>
            </div>

        </div>

    </section>

</section>
