@import '../../../../../sass/variables.scss';
@import '../../../../../sass/mixin.scss';

.banner {
    background-color: #fff;
    color: #1A2C35;

    margin-top: 32px;
    .links {
        border-bottom: solid 2px $gold;
        padding-bottom: 7px;
        margin: 10px 0px 20px;
        .items {
            cursor: pointer;
            display: inline-block;
            padding-bottom: 10px;
            .selected {
                font-family: $font-OpenSans-B;
            }
            .item {
                padding: 10px 30px;
                position: relative;
                &:nth-child(2){
                    &::before, &::after{
                        background-color: #000;
                        content: '';
                        height: 60%;
                        position: absolute;
                        right: -2px;
                        top: 20%;
                        width: 1px;
                    }
                    &::after{
                        right: unset;
                        left: -2px;
                    }
                }
                .total_notification_number {
                    background-color: #FF1421;
                    border-radius: 50%;
                    color: white;
                    height: 16px;
                    position: absolute;
                    right: 10px;
                    top: -5px;
                    width: 16px;
                    .clients{
                        font-size: 10px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        top: 1px;
                    }
                }
            }
        }
    }
    .return_action {
        -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: background-color 100ms linear;

        .notification_number {
            background-color: #FF1421;
            border-radius: 50%;
            color: white;
            height: 16px;
            position: absolute;
            right: 0;
            top: -10px;
            width: 16px;
            .number{
                font-size: 10px;
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 1px;
            }
        }
    }
    .button_selected {
        background-color: #1A2C35;
        color: white;

        -webkit-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }
}

.reset {
    background:transparent;
    border: none;
    position: relative;
    right: 26px;
    color:lightgray;
}

.matches {

            .new {
                background-color: #FF1421;
                border-radius: 3px;
                color: white;
                font-family: $font-OpenSans;
                font-size: 0.8em;
                padding: 2px 5px;
                position: absolute;
                right: 97px;
                top: 40px;
            }
        
        .interest_content {
            text-align: center;
        }
    
}

@media ( max-width: 1400px ) {
    .banner {
        padding: 20px 10%;
    }
    .matches {
        padding: 20px 13%;
    }
}

@media (max-width: 640px) {
    .banner{
        margin: 0;
        padding: 10px 10%;
        .links{

            padding: 0;
            .items{
                display: block;
                margin: 0;
                padding: 0;
                .item{
                    border-bottom: 1px solid #000;
                    display: block;
                    margin: 0;
                    padding: 15px 25px;
                    text-align: center;
                    &:nth-child(2){
                        &::before, &::after{
                            display: none;
                        }
                    }
                    &:last-child{
                        border: none;
                    }
                    .total_notification_number{
                        top: 35%;
                        .clients{
                            padding-left: 1px;
                        }
                    }
                }
            }
        }
        .return_action{
            margin: 10px 0 15px;
        }
    }
    .matches{
        padding: 5px 5%;
        .match{
            .new{
                right: 8px;
                top: 8px;
            }
            .arrow_image{
                right: 20px;
                top: 40%;
            }
            .user_detail{
                img, .detail{
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                }
                .detail{
                    margin: 0;
                    padding-left: 10px;
                    width: calc(100% - 60px);
                    .name{
                        display: block;
                        line-height: 1.2;
                        margin: 0 0 5px;
                    }
                    .stars{
                        line-height: 1;
                        img{
                            max-width: 17px;
                        }
                    }
                }
            }
        }
    }
}
