<div class="sign_in_content">

    <section class="sign_in">

        <img src="../../../assets/images/sign-in/img_header_desktop.jpg" alt="Background SignIn" title="Background SignIn" class="img-fluid d-none d-md-block">
        <img src="../../../assets/images/sign-in/img_header_movil.jpg" alt="Background SignIn" title="Background SignIn" class="img-fluid d-block d-sm-none">

        <div class="sign_in_form">

            <h2 class="title">Bienvenido a <span>Phoenix</span> administrador</h2>

            <span class="banner_info">Inicia sesión con tu e-mail</span>

            <div *ngIf="dead_session" class="alert alert-danger" [@fadeInOut]>
                Tu sesión ha caducado
            </div>

            <form>

                <div class="form_item form-group">

                    <label for="email">Email</label>

                    <input #email type="email" class="form-control" name="email">

                </div>

                <div class="form_item form-group">

                    <label for="email">Contraseña</label>

                    <input #password type="password" class="form-control" name="password">

                </div>

                <div class="credentials_error" *ngIf="invalidCredentials" [@fadeInOut]>
                    Credenciales inválidas
                </div>

                <button  type="submit" [class.action_disabled]="requestSent" class="action" (click)="signIn()">Ingresar</button>

            </form>

            <a class="forget_password" routerLink="/password-request">¿Olvidaste tu contraseña?</a>

        </div>

    </section>

</div>

<app-footer></app-footer>
