<div class="step_modal modal fade" id="step1Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons mat_icon">clear</i></span>
                </button>

            </div>

            <div class="modal-body modal_content">

                      <img src="assets/images/registration/logo@72x.png" alt="Logo Phoenix" title="Logo Phoenix" class="img-fluid">

                <div class="response">

                    <p class="text">Tu contraseña ha sido cambiada</p>

                    <a class="action" data-dismiss="modal" aria-label="Close" (click)="nextStep()">
                        <span aria-hidden="true">Ok</span>
                    </a>
                </div>

            </div>

        </div>

    </div>

</div>

<div class="sign_in_content">

    <app-menu></app-menu>

    <section class="sign_in">

        <img src="../../../assets/images/sign-in/img_header_desktop.jpg" alt="Background SignIn" title="Background SignIn" class="img-fluid d-none d-md-block">
        <img src="../../../assets/images/sign-in/img_header_movil.jpg" alt="Background SignIn" title="Background SignIn" class="img-fluid d-block d-sm-none">

        <div class="sign_in_form">

            <h2 class="title">Bienvenido a  <span>Phoenix</span></h2>

            <span class="banner_info">Cambio de contraseña</span>

            <form name="form" [formGroup]="form" (ngSubmit)="onSubmit(openModalButton)">

                <div class="form_item form-group">

                    <label for="pass">Contraseña</label>

                    <input #pass type="password" class="form-control" name="pass" formControlName="password">

                    <span class="input_error_right" *ngIf="form.controls['password'].hasError('minlength')" [@fadeInOut]>
                        Mínimo 8 caracteres
                    </span>

                    <span class="input_error_right" *ngIf="!form.controls['password'].hasError('minlength')&&form.controls['password'].hasError('pattern')" [@fadeInOut]>
                        Contraseña inválida
                    </span>

                </div>

                <div class="form_item form-group">

                    <label for="passc">Confirmar contraseña</label>

                    <input #passc type="password" class="form-control" name="passc" formControlName="password_confirmation">

                    <span class="input_error_right" *ngIf="form.controls['password_confirmation'].hasError('pattern')" [@fadeInOut]>
                        Contraseña inválida
                    </span>

                    <span class="input_error_right" *ngIf="!form.controls['password_confirmation'].hasError('pattern')&&pass.value!=passc.value" [@fadeInOut]>
                        Las contraseñas no coinciden
                    </span>

                </div>

                <div class="credentials_error" *ngIf="error" [@fadeInOut]>
                    Se ha producido un error
                </div>

                <button type="submit" [class.action_disabled]="!isFormValid()||success||requestSent" class="action">Enviar</button>

            </form>

            <button #openModalButton type="button" data-toggle="modal" data-target="#step1Modal" hidden></button>

        </div>

    </section>

</div>

<app-footer></app-footer>
