.missing_docs {
    background-color: white;

    .alert {
        -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        margin: 0 auto;
        transition: background-color 100ms linear;
        max-width: 500px;
    }

    .highlight {
        background-color: white;

        -webkit-transition: background-color 100ms linear;
        -ms-transition: background-color 100ms linear;
        transition: background-color 100ms linear;
    }
}
