<div class="wrapper container">

    <div class="registration_form">

        <h3 class="title">Formulario</h3>

        <form name="form" [formGroup]="form">

            <div class="row">

                <div class="col-md-6 remove_padding">

                    <div class="form_item form-group">

                        <label for="name">Nombres</label>

                        <input #f1 type="text" class="form-control" name="name" formControlName="names" autocomplete="off">

                        <span class="input_error_right" *ngIf="hasError('names')!=null" [@fadeInOut]>
                            {{hasError('names')}}
                        </span>

                    </div>

                </div>

                <div class="col-md-6 remove_padding">

                    <div class="form_item form-group">

                        <label for="lastname">Apellidos</label>

                        <input #f6 type="text" class="form-control" name="lastname" formControlName="last_names" autocomplete="off">

                        <span class="input_error_right" *ngIf="hasError('last_names')!=null" [@fadeInOut]>
                            {{hasError('last_names')}}
                        </span>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 remove_padding">

                    <div class="form_item form-group">

                        <label for="doc">Cédula</label>

                        <input type="text" class="form-control" name="doc" formControlName="id" (focus)="uniqueness_errors.id=false" autocomplete="off">

                        <span class="input_error_right" *ngIf="hasError('id')!=null" [@fadeInOut]>
                            {{hasError('id')}}
                        </span>

                    </div>

                </div>

                <div class="col-md-6 remove_padding">

                    <div class="form_item form-group">

                        <label for="num">Número móvil</label>

                        <input #f7 type="text" class="form-control" name="num" formControlName="phone" (focus)="uniqueness_errors.phone=false"
                            autocomplete="off">

                            <span class="input_error_right" *ngIf="hasError('phone')!=null" [@fadeInOut]>
                                {{hasError('phone')}}
                            </span>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 remove_padding">

                  <div class="form_item form-group">

                      <label for="address">Dirección domicilio</label>

                      <input type="text" class="form-control" name="address" formControlName="address" autocomplete="off">

                      <span class="input_error_right" *ngIf="hasError('address')!=null" [@fadeInOut]>
                        {{hasError('address')}}
                      </span>

                  </div>

                </div>

                <div class="col-md-6 remove_padding">

                    <div class="form_item form-group">

                        <label for="birthday">Fecha de nacimiento</label>

                        <input #f8 class="form-control"
                          formControlName="date"
                          autocomplete="off"
                          [matDatepicker]="myDatepicker"
                          (focus)="myDatepicker.opened=true"
                          readonly>
                        <i class="material-icons" (click)="toggleDatePicker()">date_range</i>
                        <mat-datepicker #myDatepicker></mat-datepicker>

                        <span class="input_error_right" *ngIf="hasError('date')!=null" [@fadeInOut]>
                            {{hasError('date')}}
                        </span>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-6 remove_padding">

                  <div class="form_item form-group">

                      <label for="email">Correo Electrónico</label>

                      <input #f4 type="email" class="form-control" name="email" formControlName="email" (focus)="uniqueness_errors.email=false"
                          autocomplete="off">

                          <span class="input_error_right" *ngIf="hasError('email')!=null" [@fadeInOut]>
                              {{hasError('email')}}
                          </span>

                  </div>

                </div>

                <div class="col-md-6 remove_padding">
                    <div class="form_item form-group">

                        <label for="city">Ciudad</label>

                        <input #f9 type="text" class="form-control" name="city" formControlName="city" autocomplete="off">

                        <span class="input_error_right" *ngIf="hasError('city')!=null" [@fadeInOut]>
                            {{hasError('city')}}
                        </span>

                    </div>
                </div>

            </div>

            <hr>

        </form>

        <form name="form" [formGroup]="form">

            <div class="row">

                <div class="col-md-6 remove_padding">

                    <div class="form_item form-group">

                      <select class="options" formControlName="labor_options">

                         <option value="0" disabled selected>Situación laboral</option>

                         <option value="1">Desempleado</option>

                         <option value="2">Empleado</option>

                         <option value="3">Independiente</option>

                         <option value="4">Contratista</option>

                     </select>

                    </div>

                </div>

                <div class="col-md-6 remove_padding">

                    <div class="form_item form-group">

                      <select class="options" formControlName="education_level" (ngModelChange)="setCareerValidation($event)">

                          <option value="0" disabled selected>Nivel educativo</option>

                          <option value="1">Primaria</option>

                          <option value="2">Bachiller</option>

                          <option value="5">Técnico/Tecnólogo</option>

                          <option value="3">Profesional</option>

                          <option value="4">Maestria</option>

                      </select>

                    </div>

                </div>

            </div>


            <div class="row">

                <div class="col-md-6 remove_padding">

                    <div class="form_item form-group">

                        <label>Declara renta</label>

                        <div class="centering_radio">

                            <label class="right_margin make_block">Si</label>


                            <input #f2 class="check_box" type="radio" name="answer" id="ans1">

                            <label #rent_yes for="ans1"></label>




                            <label class="right_margin left_margin make_block">No</label>


                            <input #f3 class="check_box" type="radio" name="answer" id="ans2">

                            <label #rent_no for="ans2"></label>

                        </div>

                    </div>

                </div>

                <div class="col-md-6 remove_padding">

                    <div class="form_item form-group" *ngIf="showCareerSelection()" [@appearingAnimNoDelay]>

                      <label class="name">¿Carrera?</label>

                      <select class="options" formControlName="career">

                          <option value="0" disabled selected>Selecciona una opción</option>

                          <option value="1">Administración</option>

                          <option value="2">Ingeniería</option>

                          <option value="3">Medicina</option>

                          <option value="4">Economía</option>

                          <option value="5">Veterinaria</option>

                          <option value="6">Contabilidad</option>

                          <option value="7">Mercadeo</option>

                          <option value="8">Derecho</option>

                          <option value="9">Arquitectura</option>

                          <option value="10">Diseño</option>

                          <option value="11">Otra</option>

                      </select>

                    </div>

                    <div class="form_item form-group" *ngIf="showTecType()" [@appearingAnimNoDelay]>

                      <label>¿Tipo de técnico?</label>

                      <input type="text" class="form-control" placeholder="Escribe el tipo" autocomplete="off" formControlName="technical_career">

                      <!-- <span class="input_error_right" *ngIf="form.controls['monthly_payment'].hasError('pattern')" [@fadeInOut]>
                          Sólo puede contener números
                      </span> -->

                    </div>

                </div>

            </div>

            <hr>

            <h3 class="title">Tope Inversionista</h3>

            <div class="row">

                <div class="col-md-6 remove_padding">

                    <div class="form_item form-group">

                        <label for="name">Tope</label>

                        <input type="text" class="form-control" name="name" autocomplete="off" formControlName="maximum" myCurrencyFormatter>

                        <span class="input_error_right" *ngIf="hasError('maximum')!=null" [@fadeInOut]>
                            {{hasError('maximum')}}
                        </span>

                    </div>

                </div>

            </div>

        </form>

        <form>

            <button class="action" (click)="getBack()">
                <span>Volver</span>
            </button>

            <button [disabled]="!isFormValid()||requestSent" class="action" (click)="updateInvestor()">
                <span>Guardar</span>
            </button>

        </form>

    </div>

</div>
