<div class="sign_in_content">

    <app-menu></app-menu>

    <section class="sign_in">

        <img src="../../../assets/images/sign-in/img_header_desktop.jpg" alt="Background SignIn" title="Background SignIn" class="img-fluid d-none d-md-block">
        <img src="../../../assets/images/sign-in/img_header_movil.jpg" alt="Background SignIn" title="Background SignIn" class="img-fluid d-block d-sm-none">

        <div class="sign_in_form">

            <h2 class="title">Bienvenido a  <span>Phoenix</span></h2>

            <span class="banner_info">Ingresa el e-mail con el que hiciste el registro</span>

            <form name="form" [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form_item form-group">

                    <label for="email">Email</label>

                    <input #f4 type="email" class="form-control" name="email" formControlName="email">

                    <span class="input_error_right" *ngIf="form.controls['email'].hasError('pattern')" [@fadeInOut]>
                        Email inválido
                    </span>

                </div>

                <div class="form_item form-group">

                    <label>Perfil</label><br>

                    <select #rol>

                        <option value="Client" selected>Cliente</option>

                        <option value="Investor">Inversionista</option>

                    </select>

                </div>

                <div class="credentials_error" *ngIf="success" [@fadeInOut]>
                    Hemos enviado un email al correo dado
                </div>

                <button type="submit" [class.action_disabled]="!isFormValid()||success||requestSent" class="action">Enviar</button>

            </form>

        </div>

    </section>

</div>

<app-footer></app-footer>
