@import '../../../../../sass/variables.scss';
@import '../../../../../sass/mixin.scss';;

.rec_modal{
    background-color: rgba( 26, 44, 53, 0.9 );
    .modal-dialog{
        margin: 2% auto;
        max-width: 85%;
        .modal-content{
            background-color: rgba( 0, 0, 0, 0 );
            border: none;
            .modal-header{
                border-bottom: 0;
                .mat_icon {
                    vertical-align: middle;
                }
                .close{
                    color: white;
                    cursor: pointer;
                    font-size: 25px;
                    margin: -5px -5px -15px auto;
                    padding: 6px 11px;
                    position: relative;
                    &::before{
                        content: '';
                        border: 2px solid;
                        border-radius: 50%;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 2px;
                        width: 100%;
                    }
                    &:hover, &:active, &:focus{
                        outline: none;
                        text-decoration: none;
                    }
                }
            }
            .modal_content{
                padding: 20px;
                text-align: center;
                h1 {
                    color: white;
                    margin-top: 20%;
                }
                embed {
                    height: 80vh;
                    max-width: 900px;
                    width: 90%;
                }
                .action{
                    background-color: $gold;
                    border: none;
                    border-radius: 25px;
                    color: #fff;
                    cursor: pointer;
                    display: inline-block;
                    font-family: Arial;
                    font-size: 15px;
                    letter-spacing: 0.5px;
                    margin-top: 20px;
                    padding: 7px 50px 6px 50px;
                    position: relative;
                    &:hover, &:active, &:focus{
                        outline: none;
                        text-decoration: none;
                    }

                    -webkit-transition: background-color 100ms linear;
                    -ms-transition: background-color 100ms linear;
                    transition: background-color 100ms linear;
                }
                .action_disabled{
                    background-color: #A6A6A6;
                    cursor: default;

                    -webkit-transition: background-color 200ms linear;
                    -ms-transition: background-color 200ms linear;
                    transition: background-color 200ms linear;
                }
            }
        }
    }
}

.step_modal{
    background-color: rgba( 26, 44, 53, 0.9 );
    .modal-dialog{
        margin: 5% auto;
        max-width: 410px;
        .modal-content{
            .modal-header{
                border-bottom: 0;
                .mat_icon {
                    vertical-align: middle;
                }
                .close{
                    border-color: #1A2C35;
                    cursor: pointer;
                    font-size: 25px;
                    margin: -5px -5px -15px auto;
                    padding: 6px 11px;
                    position: relative;
                    &::before{
                        content: '';
                        border: 2px solid;
                        border-radius: 50%;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 2px;
                        width: 100%;
                    }
                    &:hover, &:active, &:focus{
                        outline: none;
                        text-decoration: none;
                    }
                }
            }
            .modal_content{
                padding: 20px;
                text-align: center;
                .response{
                    padding: 70px 0 30px;
                    text-align: center;
                    .image{
                        display: inline-block;
                        width: 20%;
                    }
                    .text{
                        display: inline-block;
                        font-family: $font-OpenSans;
                        font-size: 15px;
                        font-weight: bold;
                        margin: 30px 0px 70px 0px;
                        padding: 0 10%;
                    }
                    .action{
                        background-color: $gold;
                        border-radius: 25px;
                        color: #fff;
                        cursor: pointer;
                        display: inline-block;
                        font-family: Arial;
                        font-size: 15px;
                        letter-spacing: 0.5px;
                        margin-top: 40px;
                        padding: 7px 40px 6px;
                        position: relative;
                        &:hover, &:active, &:focus{
                            outline: none;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.wrapper{
    color: #fff;
    margin-bottom: 70px;
    margin-top: 70px;
    position: relative;
    text-align: center;
    .registration_form{
        background-color: rgba(255,255,255,1);
        border: 1px solid $gold;
        border-radius: 10px;
        margin: 0px auto;
        padding: 40px;
        text-align: center;
        width: 85%;
        .title{
            color: #1b2c35;
            font-family: $font-OpenSans-B;
            font-size: 23px;
            margin: 0;
            padding: 0 5%;
        }
        .banner_info{
            color: #1b2c35;
            display: block;
            font-family: $font-OpenSans;
            font-size: 15px;
            font-weight: bold;
            margin: 0 auto;
            margin-bottom: 20px;
            margin-top: 20px;
            width: 75%;
        }
        form{
            font-family: $font-OpenSans-SB;
            margin: 15px 0 0;
            padding: 20px 7%;
            position: relative;
            .file_container {
                width: 100%;
            }
            .line_container {
              border-bottom: 1px solid $gold;
              text-align: left;
              margin: 30px 20%;
              position: relative;
              label{
                  color: #1b2c35;
                  font-size: 14px;
                  margin-bottom: 0px;
                  text-align: left;
              }
              .file_present {
                  cursor: pointer;
                  text-decoration: underline;
              }
              .mat_icon {
                  bottom: -4px;
                  color: $gold;
                  cursor: pointer;
                  font-size: 35px;
                  position: absolute;
                  right: 0px;
                  vertical-align: middle;

                  -webkit-transition: color 100ms linear;
                  -ms-transition: color 100ms linear;
                  transition: color 100ms linear;
              }
              .empty_mat_icon {
                  color: #A6A6A6;

                  -webkit-transition: color 200ms linear;
                  -ms-transition: color 200ms linear;
                  transition: color 200ms linear;
              }
            }
            .category_content {
              color: #1b2c35;
              margin: 8px 20%;
              text-align: left;
              .add_more_files {
                background-color: $gold;
                border-radius: 50%;
                border: none;
                color: white;
                cursor: pointer;
                font-size: 21px;
                height: 21px;
                vertical-align: middle;
                width: 21px;
                &:hover, &:active, &:focus{
                    outline: none;
                    text-decoration: none;
                }
              }
            }
            .multiple_files {
                margin: 10px 20%;
                margin-left: 22%;
                max-height: 250px;
                overflow-y: auto;
                padding-top: 2px;
                text-align: left;
                label{
                    color: #1b2c35;
                    font-size: 14px;
                    margin-bottom: 8px;
                    text-align: left;
                }
                .line_container_2 {
                  border-bottom: 1px solid $gold;
                  margin-bottom: 20px;
                  text-align: left;
                  position: relative;
                  label{
                      color: #1b2c35;
                      font-size: 14px;
                      margin-bottom: 0px;
                      text-align: left;
                  }
                  .file_present {
                      cursor: pointer;
                      text-decoration: underline;
                  }
                  .mat_icon {
                      bottom: -4px;
                      color: $gold;
                      cursor: pointer;
                      font-size: 35px;
                      position: absolute;
                      right: 0px;
                      vertical-align: middle;

                      -webkit-transition: color 100ms linear;
                      -ms-transition: color 100ms linear;
                      transition: color 100ms linear;
                  }
                  .remove_icon {
                    color: black;
                    cursor: pointer;
                    font-size: 15px;
                    vertical-align: middle;
                  }
                  .empty_mat_icon {
                      color: #A6A6A6;

                      -webkit-transition: color 200ms linear;
                      -ms-transition: color 200ms linear;
                      transition: color 200ms linear;
                  }
                }
            }
            .action{
                background-color: $gold;
                border: none;
                border-radius: 25px;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                font-family: Arial;
                font-size: 15px;
                letter-spacing: 0.5px;
                margin-right: 15px;
                margin-top: 10px;
                padding: 7px 50px 6px 50px;
                position: relative;
                &:hover, &:active, &:focus{
                    outline: none;
                    text-decoration: none;
                }

                -webkit-transition: background-color 100ms linear;
                -ms-transition: background-color 100ms linear;
                transition: background-color 100ms linear;
            }
            .action_disabled{
                background-color: #A6A6A6;
                cursor: default;

                -webkit-transition: background-color 200ms linear;
                -ms-transition: background-color 200ms linear;
                transition: background-color 200ms linear;
            }
        }
        .stepwizard_button {
            background-color: #F2F2F2;
            border: 1px solid $gold;
            border-radius: 50px;
            cursor: pointer;
            height: 10px;
            margin: 20px 2px 0px 0px;
            outline: none;
            width: 10px;
            display: inline-block;
        }
        .step_selected {
          background-color: #1A2C35;
        }
        .start{
            color: #1b2c35;
            font-family: $font-OpenSans;
            font-size: 13px;
            margin: 20px 0 0;
            position: relative;
        }
    }
}

@media (max-width: 575px) {
    .step_modal{
        padding-left: 15px;
        padding-right: 15px;
        .action {
            width: 100%;
            span {
                font-size: 1.3em;
            }
        }
    }
    .wrapper{
        margin-bottom: 0;
        margin-top: 0;
        &::before{
            bottom: 0;
            content: '';
            height: calc(100% - 300px);
            left: 0;
            position: absolute;
            width: 100%;
            z-index: -1;
        }
        .registration_form{
            background-color: rgba( 0, 0, 0, 0 );
            border: none;
            padding: 40px 10px;
            width: 95%;
            .title{
                font-size: 21px;
            }
            .banner_info{
                font-size: 15px;
                width: 80%;
            }
            form{
                div > div > label {
                    font-size: 1.1em;
                }
                margin: 0;
                padding-left: 0px;
                padding-right: 0px;
                .line_container {
                  margin: 30px 0px;
                }
                .multiple_files {
                    margin: 20px 0;
                }
                .category_content {
                  margin: 0;
                }
                .action {
                    font-size: 19px;
                    margin: 15px 0 20px;
                    width: 90%;
                }
                .fixed_margin {
                    margin-top: 0px;
                }
            }
        }
    }
}
